# ENV=dev
# PORT=3003

# DATABASE_URI_DEV=postgres://user:pass@localhost:5432/firewall_dev
# DATABASE_URI_PROD=postgres://user:pass@localhost:5432/firewall_prod

# DB_CONNECTION_INTERVAL=3000
# LOG_FILE_PATH=./logs/app.log